h1 { 
    color: #45523e;
    font-family: 'Times New Roman', Times, serif;
}
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    padding: 0;
    background-color: #f5ece5;
}

div.top { 
    background-color: #f5ece5;
    display: flex;
    flex-wrap: wrap;
}
.top-left { 
    flex: 1;
    margin-left: 20px;
    text-align: left;
}
.top-right { 
    margin-top: 5px;
    margin-right: 20px;
    text-align: center;
}

.title_image_image { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 1px solid black;
}
div.title_image { 
    background-color: #45523e;
    border: 5px solid #45523e;
}

div.content { 
    display: flex;
    flex-wrap: wrap;
}
div.left { 
    flex: 1;
    margin-left: 20px;
}
div.center {
    flex: 1;
    flex-wrap: wrap;
}
div.right { 
    flex: 1;
    margin-right: 20px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer { 
    display: flex;
}
.zillow_logo {
    width: 56px;
    height: 56px;
    flex: 1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    flex: 1;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
.copyright { 
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 978px) {
    .fa {
      padding:1;
      margin:1;
      margin-left: 1;
    }

    body {
      width: 100%;
    }

    .top-left, .top-right, .div.left, .div.right {
      margin-left: 1;
      margin-right: 1;
    }
}