h1 { 
    color: #45523e;
    font-family: 'Times New Roman', Times, serif;
}
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    padding: 0;
    background-color: #f5ece5;
}

.top-left { 
    flex: 1;
    margin-left: 20px;
}
.top-right { 
    margin-top: 5px;
    margin-right: 20px;
    text-align: center;
}
div.top { 
    background-color: #f5ece5;
    display: flex;
}
img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border: 1px solid black;
}
div.title_image { 
    background-color: #45523e;
    border: 5px solid #45523e;
}

